header {
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    pointer-events: none;

    width: 100%;

    li {
        list-style: none;
    }

    #menu_mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        height: 4rem;
        pointer-events: auto;

        background-color: #09365c;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);

        #logo {
            height: 100%;
            img {
                height: 2rem;
            }
        }

        .menu-mobile {
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 0.2rem;

            div {
                height: 5px;
                transition: 0.2s;
                background-color: #fff;
                width: 2rem;

                height: 5px;
                transition: 0.2s;
                background-color: #fff;
            }
        }

        .menu-mobile-open {
            div {
                &:nth-child(1) {
                    width: 2rem;
                }
                &:nth-child(2) {
                    width: 1.4rem;
                }
                &:nth-child(3) {
                    width: 0.8rem;
                }
            }
        }
    }
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        transform: translateX(100%);
        pointer-events: auto;

        background-color: #fff;
        height: calc(100vh - 32px);
        padding: 2rem;
        text-align: center;

        height: calc(100vh - 4rem);

        transition: all 0.2s linear;

        #social {
            display: flex;
            transform: scale(1.5);

            gap: 2rem;
            path {
                fill: #000;
            }
        }
    }

    .open_nav {
        transform: translateX(0%) !important;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 2rem;

        li {
            border-bottom: 1px solid #000;
        }
    }
    a {
        color: #000;
        padding: 0;
        background-color: transparent;
        text-transform: uppercase;
    }
}

@media (min-width: 1024px) {
    header {
        position: sticky;
        top: 0;
        z-index: 10;
        pointer-events: auto;

        transition: all 0.15s linear;

        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 5rem;

        background-color: #09365c;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);

        #menu_mobile {
            display: none;
        }

        #navbar {
            flex-direction: row;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transform: translateX(0%);

            #social {   
                padding-right: 2rem;             
                path {
                    fill: #fff;
                }
            }
        }

        nav {
            flex-direction: row;
            color: #000;
            gap: 2rem;
        }
        div {
            display: flex;
            gap: 2rem;
        }
        
        nav{
            li {                       
                border: none;
            }
        }    

        a {
            color: #fff;
            padding: 0;
            background-color: transparent;
        }
    }

    .header_op {
        opacity: 0.2;
    }

    .header_op:hover {
        opacity: 1;
    }
}
