#services {
    display: grid;
    gap: 5rem;
    background: linear-gradient(180deg, #0f4665 0%, #080808 59.69%);
    overflow: hidden;
    color: #fff;

    #computer {
        width: 90vw;
        object-fit: cover;
    }

    img {
        width: 20vw;
    }

    .z-1 {
        position: absolute;
        top: -30px;
        z-index: 1;
        animation: flutuation 5s linear infinite;
    }

    .z-2 {
        position: absolute;
        z-index: 3;
        right: 0px;
        width: 30vw;

        margin-top: -30px;

        display: flex;
        flex-direction: column;
        align-items: flex-end;        

        animation: flutuation 5s linear infinite;

        img:nth-child(2){
            align-self: flex-start;
        }
    }

    .z-3 {
        position: relative;
        z-index: 2;
    }

    h1 {
        text-align: center;
    }
}


@keyframes flutuation {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
  }