#why{        
    background-image: url('../media/why-site.jpg');
    background-size: cover;
    overflow: hidden;

    padding: 0;

    #why__blurbg{
        display: grid;
        place-items: center;
        gap: 1.5rem;
        padding: 1rem;
        background-color: rgba($color: #0F4665, $alpha: 0.1);

        h1{
            margin-bottom: 2rem;
        }
    }

    .why__content{       
        position: relative;    
        z-index: 0;
        
        display: flex;
        flex-direction: column;
        justify-content: end;        
          
        max-width: 90vw;
        background-color: #fff;
        padding: 1rem;        

        border-radius: 20px;
        

        .why-text{
            display: grid;
            gap: 1rem;
            overflow: hidden;
            
            max-width: 410px;
            height: 0px;

            transition: all .3s linear;

            span{
                color: #094DFC;
                font-weight: bolder;
            }
        }

        // Animação dedicada a mobile para revelar conteúdo
        .why-text-reveal{
            height: 240px;
        }

        h2{
            font-weight: bold;            
        }

    }

    img{
        position: relative;
        object-fit: cover;        
        z-index: 1;        
    }
}

@media (min-width: 768px) {
    .why__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;

        img {
            width: 90%;
        }
    }
}

@media (min-width: 1024px) {
    #why{
        display: flex;
        justify-content: center;
        height: 1550px;

        #why__blurbg{
            display: flex;
            flex-direction: column;
            align-items: start;

            width: 1100px;

            h1{
                align-self: center;
            }            

            .why__content{
                width: 200px;
                margin-bottom: 10rem;
                display: flex;
                flex-direction: row;          
                      

                justify-content: space-between;
                align-items: center;

                transition: .3s all linear;

                .why-text{
                    display: flex;
                    flex-direction: column;
                    height: 0px;                    
                    gap: .5rem;       
                    
                    transition-delay: .3s;
                }

                img{
                    transform: scale(2.5);
                    width: 200px;
                }
            }

            // Animação para revelar conteúdo. Dedicado a desktop
            .why-text-reveal-desk{
                width: 1060px !important;

                .why-text{
                    height: 250px;
                }
            }

            .why__content:nth-child(3){
                align-self: self-end;
            }
        }

        #why__blurbg{
            .why__content:nth-child(3){
                flex-direction: row-reverse;
            }
        }
    }
}