*{
    padding: 0;
}

.container 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 60px;
	padding: 50px 0;
}
.container .box 
{
	position: relative;	
	width: 350px;
	background: #2e2e2e;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .box::before 
{
	content: '';
	position: absolute;
	border-top: 4px solid var(--clr);
	border-bottom: 4px solid var(--clr);
	inset: -10px 50px;
	z-index: 1;
	transform: skewY(15deg);
	transition: 0.5s ease-in-out
}
.container .box:hover::before 
{
	transform: skew(0deg);
	inset: -10px 40px;
}
.container .box::after 
{
	content: '';
	position: absolute;
	border-left: 4px solid var(--clr);
	border-right: 4px solid var(--clr);
	inset: 60px -10px;
	z-index: 1;
	transform: skew(15deg);
	transition: 0.5s ease-in-out
}
.container .box:hover::after 
{
	transform: skew(0deg);
	inset: 40px -10px;
}

.container .box .content 
{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	gap: 20px;
	padding: 2rem 20px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.container .box .content .icon 
{
	color: var(--clr);
	font-size: 2.5em;
	width: 80px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2e2e2e;
	color: var(--clr);
	transition: 0.5s ease-in-out;
	box-shadow: 0 0 0 4px #2e2e2e,
	0 0 0 6px var(--clr);
}
.container .box .content svg{
    fill: var(--clr);
    transition: 0.5s ease-in-out;
}
.container .box:hover .content .icon
{
	color : #2e2e2e;
	background: var(--clr);
	box-shadow: 0 0 0 4px #2e2e2e,
	0 0 0 1000px var(--clr);
}
.container .box:hover .content svg{
    fill: #2e2e2e;
}
.container .box .content .text .text__title
{
    color: #fff;
    transition: 0.5s ease-in-out;
	margin: 1rem;
}
.container .box .content .text .text__title span{
	font-size: 24px;
	white-space: nowrap;
	font-weight: bold;
}
.container .box:hover .content .text .text__title
{
	color: #2e2e2e;
}
.container .box .content .text h3
{
	font-size: 1.5em;
    margin: 0;
	font-weight: 500;
}
.container .box .content .text p
{
	color: #fff;
	/* width: 200px; */
	margin: 1rem;
	transition: 0.5s ease-in-out;
}
.container .box:hover .content .text p
{
	color: #333;
}
.container .box .content .text a 
{
	position: relative;
	background: var(--clr);
    font-weight: 600;
    border-radius: 20px;
	color: #2e2e2e;
	padding: 8px 15px;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	transition: 0.5s ease-in-out;
}
.container .box:hover .content .text a
{
	background: #2e2e2e;
	color: var(--clr);
}

/* Mobile effect */
.container .box-active::before 
{
	transform: skew(0deg);
	inset: -10px 40px;
}

.container .box-active::after 
{
	transform: skew(0deg);
	inset: 40px -10px;
}

.container .box-active .content .icon
{
	color : #2e2e2e;
	background: var(--clr);
	box-shadow: 0 0 0 4px #2e2e2e,
	0 0 0 1000px var(--clr);
}

.container .box-active .content svg{
    fill: #2e2e2e;
}

.container .box-active .content .text .text__title
{
	color: #2e2e2e;
}

.container .box-active .content .text p
{
	color: #333;
}

.container .box-active .content .text a
{
	background: #2e2e2e;
	color: var(--clr);
}
