#duvidas {
  background-color: #0F4665;
  display: grid;
  place-items: center;
}
#duvidas > div {
  padding: 2rem 0;
  width: 100%;
  max-width: 800px;
}
#duvidas h1 {
  color: #fff;
}
#duvidas .ask-content {
  background-color: #f5f5f5;
  border-radius: 20px;
  transition: all 1s ease;
  margin-top: 1rem;
}
#duvidas .ask-content .content_ask {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}
#duvidas .ask-content .content_ask p {
  font-weight: bold;
}
#duvidas .ask-content .content_ask .content_expand {
  position: relative;
  height: 20px;
  width: 20px;
}
#duvidas .ask-content .content_ask .content_expand div {
  position: absolute;
  top: 50%;
  height: 3px;
  width: 20px;
  background-color: #000;
  transform: translate(-50% -50%);
  transition: all 0.3s ease;
}
#duvidas .ask-content .content_ask .content_expand div:nth-child(1) {
  transform: rotate(90deg);
}
#duvidas .ask-content .content_ask .content_expand_close div:nth-child(1) {
  transform: rotate(0deg);
}
#duvidas .ask-content .content_answer {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0 2rem;
  transition: all 0.5s ease;
}
#duvidas .ask-content .content_answer p {
  overflow: hidden;
  font-weight: 400;
}
#duvidas .ask-content .answer_open {
  grid-template-rows: 1fr;
  padding: 0 2rem 1rem 2rem;
}
#duvidas .ask-content-open {
  border-radius: 20px 20px 0 0;
}