#portifolio {
  position: relative;
  position: relative;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#portifolio #portfolio-area {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#portifolio #portfolio-area .port {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 1rem;
  background-position: center;
  background-size: cover;
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s linear;
}
#portifolio #portfolio-area .port img {
  height: 10rem;
  margin: 2rem 0;
  object-fit: cover;
}
#portifolio #portfolio-area .port h2 {
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s linear;
  transition-delay: 0.3s;
}
#portifolio #portfolio-area .port p {
  max-width: 350px;
  margin: 1rem 0;
  transform: translateY(-20px);
  opacity: 0;
  transition: all 0.3s linear;
  transition-delay: 0.3s;
}
#portifolio #portfolio-area .port a {
  padding: 0.5rem 1.2rem;
  width: 200px;
  text-align: center;
}
#portifolio #portfolio-area .port-active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}
#portifolio #portfolio-area .port-active h2 {
  transform: translateY(0px);
  opacity: 1;
}
#portifolio #portfolio-area .port-active p {
  transform: translateY(0px);
  opacity: 1;
}
#portifolio #circle-area-port {
  position: relative;
  margin-top: 86vh;
  z-index: 3;
}
#portifolio #circle-port {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background: rgb(0, 148, 255);
  background: linear-gradient(180deg, rgb(0, 148, 255) 0%, rgb(6, 47, 77) 100%);
  border-radius: 100%;
  transform: var(--deg);
  transition: all 1s ease;
}
#portifolio #circle-port .port {
  position: absolute;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  background: rgb(121, 168, 31);
  background: linear-gradient(180deg, rgb(121, 168, 31) 0%, rgb(66, 77, 6) 100%);
  background-size: cover;
  background-position: center;
  transform: translate(50%, -50%) rotate(var(--degObj));
  top: var(--top);
  right: var(--rgt);
  transition: all 1s ease;
}

@media (max-width: 499px) {
  #portifolio #circle-area-port {
    position: relative;
    margin-top: 86vh;
  }
  #portifolio #circle-port {
    height: 300px;
    width: 300px;
  }
  #portifolio #circle-port .port {
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 1024px) {
  #portifolio #circle-port {
    height: 800px;
    width: 800px;
  }
  #portifolio #circle-port .port {
    width: 10rem;
    height: 10rem;
  }
}