#portifolio {
  position: relative;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(/assets/media/mockups/mockup-adv.png);
  background-position: center;
  background-size: cover;
}
#portifolio #circle-area-port {
  position: relative;
  margin-top: 78vh;
}
#portifolio #circle-port {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background: rgb(0, 148, 255);
  background: linear-gradient(180deg, rgb(0, 148, 255) 0%, rgb(6, 47, 77) 100%);
  border-radius: 100%;
  transform: var(--deg);
  transition: all 1s ease;
}
#portifolio #circle-port .port {
  position: absolute;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  background: rgb(121, 168, 31);
  background: linear-gradient(180deg, rgb(121, 168, 31) 0%, rgb(66, 77, 6) 100%);
  background-image: url(/assets/media/dj.png);
  background-size: cover;
  background-position: center;
  transform: translate(50%, -50%) rotate(var(--degObj));
  top: var(--top);
  right: var(--rgt);
  transition: all 1s ease;
}

@media (max-width: 499px) {
  #portifolio #circle-area-port {
    position: relative;
    margin-top: 86vh;
  }
  #portifolio #circle-port {
    height: 300px;
    width: 300px;
  }
  #portifolio #circle-port .port {
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 1024px) {
  #portifolio #circle-port {
    height: 800px;
    width: 800px;
  }
  #portifolio #circle-port .port {
    width: 10rem;
    height: 10rem;
  }
}